standalone_admin_password.txt
airflow-webserver.pid
airflow.db
webserver_config.py

.idea/*
venv/*
.env
logs
docs
tmp
configs
logs/*
dags/__pycache__/*
dags/subdags/__pycache__/*
dags/groups/__pycache__/*
__pycache__
* .pyc
*.pyo